html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	padding: 50px;
	background-image: url("../bg_pattern.png");
	background-repeat: repeat;
}

h4 {
	padding-bottom: 10px;
}

.password {
	font-family: monospace;
}

.card-block {
	padding: 20px;
}

/* TITLE SIDE BARS */

#title {
	border-spacing: 16px 0;
	display: table;
	white-space: nowrap;
	line-height: .25;
}

#title:before,
#title:after {
	border-top: solid;
	content: '';
	display: table-cell;
	width: 50%;
}

/* PASSWORD BUTTON */

#copy-password {
	position: absolute;
	right: 40px;
	vertical-align: middle;
}

#copy-password:hover {
	background: #f5f5f5;
}

/* HISTORY */

#history {
	padding-top: 10px;
	font-size: 1.5em;
}

/* OPTIONS */

#options {
	vertical-align: left;
}

.opt {
	display: flex;
	padding: 10px;
}

.opt span {
	width: 100px;
	vertical-align: middle;
}

.opt .entry {
	flex-grow: 1;
}

.slider .noUi-connect {
	background: #007bff;
}

.slider .noUi-tooltip {
	display: none;
}

.slider .noUi-active .noUi-tooltip {
	display: block;
}

#format {
	font-family: monospace;
	font-size: 1.5em;
}

/* FOOTER */

.footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 60px;
	overflow: hidden;
	background-color: #f5f5f5;
}