<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Password Custard</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/afc71987e5.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/stylesheets/index.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<h1 id="title"><span>PASSWORD CUSTARD</span></h1>
				<h4>
					<i>The friendly password generator</i>
				</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<div class="card text-center">
					<div class="card-header">
						Your new password is...
					</div>
					<div class="card-block">
						<button id="copy-password" class="btn" data-toggle="tooltip" title="Copy" data-placement="right">
							<i class="fa fa-clone"></i>
						</button>
						<h1 class="password card-title" id="password-field">hunter2</h1>
					</div>
					<div class="card-footer">
						<button id="generate-password" class="btn btn-outline-primary btn-lg">Generate</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<div id="history" class="password text-muted"></div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container text-center text-muted">
			</br>
			By
			<a href="https://github.com/Samuel-Lewis">Samuel Lewis</a>
		</div>
	</footer>

</body>
<script src="/static/js/fetchpass.js"></script>

</html>